:root {
  --padrao: #545454;
  --box-shadow-color: #2f3e46;
  --font-branco: #fff;
  --font-family-dafault: "Cairo", sans-serif;;
}

* {
  font-family: var(--font-family-dafault);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  margin: 0;
}

.conteudo-esquerda {
  width: 25%;
  color: var(--font-branco);
  background-color: var(--padrao);
  padding: 40px;
}

.conteudo-direita {
  width: 75%;
  padding: 32px;
  color: var(--padrao);
}

.foto-perfil {
  width: 90%;
}

.texto-habilidades {
  display: block;
  margin-top: 30px;
  font-weight: 700;
  font-size: 24px;
}

.texto-tecnicas {
  display: block;
  font-weight: 600;
  font-size: 18px;
  text-decoration: underline;
}

.lista-com-bolinha {
  list-style-type: none;
  padding: 0;
}

.lista-com-bolinha li {
  position: relative;
  padding-left: 24px;
}

.lista-com-bolinha li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px; 
  height: 6px; 
  background-color: var(--font-branco); 
  border-radius: 50%; 
}

.texto-nome-titulo {
  font-size: 72px;
  font-weight: 800;
  color: var(--padrao);
  font-family: "Oswald", sans-serif;
}

.bloco-habilidades {
  margin-top: 8px;
}

.itens-contato {
  display: flex;
  justify-content: start;
  margin-bottom: 8px;
  gap: 10px;
}

.texto-cargo {
  font-size: 1.875rem;
}

.sobre-mim-titulo {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

/* Responsividade */
@media (max-width: 1200px) {
  .conteudo-esquerda {
    width: 30%;
    padding: 20px;
  }
  
  .conteudo-direita {
    width: 70%;
    padding: 16px;
  }

  .texto-nome-titulo {
    font-size: 48px;
  }

  .sobre-mim-titulo {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .flex {
    flex-direction: column;
  }

  .conteudo-esquerda,
  .conteudo-direita {
    width: 100%;
    padding: 16px;
  }

  .foto-perfil {
    width: 70%;
  }

  .texto-habilidades,
  .texto-tecnicas {
    font-size: 32px;
  }

  .texto-nome-titulo {
    font-size: 42px;
  }

  .lista-com-bolinha li::before {
    content: none;
  }

  .lista-com-bolinha li {
    font-size: 24px;
  }

  .bloco-imagem {
    align-items: center;
  }

  .itens-contato {
    padding-left: 14px;
  }

  .itens-contato span {
    font-size: 24px;
  }

  .sobre-mim-titulo {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }
}

@media (max-width: 480px) {
  .conteudo-esquerda {
    text-align: start;
  }

  .conteudo-direita {
    padding: 14px;
  }

  .foto-perfil {
    width: 80%;
  }

  .texto-habilidades,
  .texto-tecnicas {
    font-size: 16px;
  }

  .texto-nome-titulo {
    font-size: 32px;
  }

  .lista-com-bolinha li {
    padding-left: 16px;
  }

  .lista-com-bolinha li::before {
    width: 4px;
    height: 4px;
  }
  
  .bloco-imagem {
    align-items: center;
  }

  .itens-contato {
    flex-direction: row;
  }

  .texto-cargo {
    font-size: 22px;
  }
}
